body {
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
}

table {
	border-collapse: collapse;
}

table, th{
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
}

td {
	width: 65px;
	height: 20px;
	border: 1px solid black;
	transition-duration: 150ms;
}

input {
	width: 45px;
	height: 20px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	border: none;
	background: none;
}

input:focus {
	outline: none;
}

@media print {
	input { display: none; }
	button { display: none; }
}

button {
	border: none;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
	transition-duration: 150ms;
}

button:hover {
	background: #afafaf;
	cursor: pointer;
}

#reset {
	background: #ad0f0f;
}

#reset:hover {
	background: #dd0f0f;
}
